@import "@fontsource-variable/noto-sans/wght.css";
@import "@fontsource-variable/noto-sans-mono/wght.css";

:root {
  --color-bg: #FFE7CE;
  --color-surface: #EC8B49;
  --color-text: #164F4A;
  --color-text-muted: #24837B;
  /*513b1e*/
  --color-accent-hover: #5ABDAC;
  --color-border: #EC8B49;

  /* Layout */
  --max-width: 720px;

  /* Typography */
  --font-sans: "Noto Sans Variable", system-ui, sans-serif;
  --font-mono: "Noto Sans Mono Variable", ui-monospace, monospace;
}