@import "@fontsource-variable/noto-sans/wght.css";
@import "@fontsource-variable/noto-sans-mono/wght.css";

:root {

  /*
  All taken from
  https://stephango.com/flexoki
  */
  --color-bg: #FFE7CE;
  --color-surface: #F9AE77;
  --color-text: #164F4A;
  --color-text-accent: #24837B;
  /*513b1e*/
  --color-accent-hover: #5ABDAC;
  --color-border: #F9AE77;

  /* Layout */
  --max-width: 720px;

  /* Typography */
  --font-sans: "Noto Sans Variable", system-ui, sans-serif;
  --font-mono: "Noto Sans Mono Variable", ui-monospace, monospace;
}